.App {
  text-align: center;
}

a, a:active, a:hover {
  text-decoration: none;
  color: white;
  outline: 0;
}

/* Header section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
}

.header-logo {
  padding: 10px 10px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
}

.header-name {
  color: #edf2f4;
  border: 3px solid #edf2f4;
  padding: 0.7em;
  font-size: 1rem;
  animation: show 0.5s;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header-container {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  padding: 1.65rem;
  text-align: right;
  color: lightgrey;
  z-index: 2;
  transition: all .2s linear;
}

.nav-item {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 2rem;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .2rem;
  opacity: 0;
  bottom: -1rem;
  left: 0;
  transition: all .1s ease-in-out;
  background-color: lightgrey;
}

.nav-item:hover:after {
  opacity: 1;
}
/* End Header section */

/* Body Section */ 
.body {
  position: relative;
  background-color: #160258;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  min-height: 56rem;
}

.body .body-container {
  position: relative;
  display: flex;
  max-width: 120rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.body-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20rem;
}

.body-img {
  width: 100%;
  border-radius: 50%;
  transition: transform .5s ease;
}

.body-img:hover {
  transform: scale(1.1);
}

.body-content {
  padding-top: 2rem;
  text-align: center;
}

.body-headline {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: white;
}

.body-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: lightgray;
}

.body-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.8rem;

}

.body .icon-link {
  padding: 0.8rem 0.8rem;
  color: white;
  transition: transform .5s ease;
}

.icon-link:hover {
  color: lightgray;
  transform: scale(1.2);
}
/* End Body Section */ 

/* About Section  */
.about {
  width: 100%;
  /* height: 80vh; */
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #160258;
  transition: transform .5s ease;
  align-items: center;

}

.about:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s;  
}

/* .about-heading {
  margin-left: 43%;
  display: inline-block;
  font-size: 4rem;
  color: white;
  overflow: hidden;
  border-right: .15em solid red;
  white-space: nowrap; /* prevents line breaks */
  /* animation: typing 10s steps(8) forwards;
  max-width: 200px;
  flex-direction: column;
  text-align: center;

} */

.about-heading {
  font-family: "Courier New";
  font-size: 4rem;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40),
    blink-caret .75s step-end infinite;
    max-width: 240px;
  text-align: center;
}

#open-link-icon:hover {
  color: black;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  color: lightgray;
  margin: 5%;
  text-align: center;
  font-family: "Courier New";
  flex-direction: row;
}

.about .about-info .about-desc {
  /* padding: 2%; */
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: right;
  justify-content: center;
}
.about .about-img {
  position: top;
  align-items: center;
  display: inline;
  margin-top: 1%;
  width: 500px;
  max-width: 100%;
  
}

.about .about-img .about-img-wrapper {
  height: auto;
  max-width: 400px;
  position: flex;
  /* border: 1vh solid #cbd5e1; */
}
.about .about-img .about-img-wrapper img {
  width: 60%;
  border-radius: 20px;
}
/* End About Section  */

/* Projects section */
.projects {
  background-color: #160258;
  width: 100%;
  height: 80vh;
  max-width: 100%;
  /* margin-top: rem; */
  transition: transform .5s ease;
}

.projects:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s;  
}

.heading {
  font-size: 2rem;
  /* text-transform: uppercase; */
  padding: 1rem;
  letter-spacing: .3rem;
  color: white;
  font-family: "Courier New";

}
.projects-container {
  /* padding: 3rem; */
  margin-right: 15%;
  margin-left: 15%;
}

.projects-container .project {
  /* padding: 5% 5%; */
  position: relative;
  height: 100vh;
  /* margin: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects-container .project .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 1.2rem; */
  height: 65%;
  width: auto;
  /* border-radius: 15px; */
  transition: all 0.5s;
  cursor: auto;
  overflow: hidden;
  transition: transform .5s ease;

}
.content:hover {
  transform: scale(1.05, 1.05);
  /* background-color: #ef233c; */
  /* border: 0.3rem solid white; */
  transition: all 0.5s;  
}
.content:before {
  /* content: ""; */
  display: block;
  /* padding-top: 10%; */

}
.projects-container .project .content img{
  display: flex;
  border-radius: 30px;
  /* margin: auto; */
  height: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  /* width: 70% auto; */
  /* max-width: 350px;
  max-height: 250px; */
  /* padding: 10%; */
}
.name {
  color: white;
  margin: 10px 0;
  font-size: 1.6rem;
  margin-bottom: -0.5rem;
}
.description {
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
}
.description-min {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.project-button {
  width: 8rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 5px 25px;
}
.project-button:hover,
.project-button:active,
.project-button:focus{
  background-color: #ef233c;
  border-color: #ef233c;
  color: white;
}

/* Articles section */
.articles {
  background-color: #160258;
  width: auto;
  height: 80vh;
  max-width: 100%;
  /* margin-top: -2rem; */
  transition: transform .5s ease;

}

.articles:hover {
  transform: scale(1.05, 1.05);
}
.articles-container {
  /* padding: 3rem; */
  margin-right: 15%;
  margin-left: 15%;
}

.articles-container .article {
  /* padding: 5% 5%; */
  position: relative;
  height: 100vh;
  /* margin: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.articles-container .article .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 1.2rem; */
  height: 65%;
  width: auto;
  /* border-radius: 15px; */
  transition: all 0.5s;
  cursor: auto;
  overflow: hidden;
  transition: transform .5s ease;

}
.content:hover {
  transform: scale(1.05, 1.05);
  /* background-color: #ef233c; */
  /* border: 0.3rem solid white; */
  transition: all 0.5s;  
}
.content:before {
  /* content: ""; */
  display: block;
  /* padding-top: 10%; */

}
.articles-container .article .content img{
  display: flex;
  border-radius: 30px;
  /* margin: auto; */
  height: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  /* width: 70% auto; */
  /* max-width: 350px;
  max-height: 250px; */
  /* padding: 10%; */
}

/* End Articles Section */

/* Skills section */
.skills {
  padding-top: 5%;
  background-color: #160258;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform .5s ease;
}

.skills:hover {
  transform: scale(1.05, 1.05);
}

.title {
  font-size: 4rem;
  color: white;
  margin: 3rem 0;
  text-align: center;
  /* margin-top: 5%; */
  letter-spacing: 0.3rem;
}

.skill-cards {
  /* background-color: gray; */
  /* padding: 1.2rem 1rem 1rem 1rem; */
  margin: 1.2rem;
    width: 8rem;
  border-radius: 100%;
  color: #ffffff;
}

.skill-icon {
  color: white;
  font-size: 40px;
  margin: 5%;
}

.skill-holder {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
  /* padding: 5%; */
}

.skill {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  /* text-shadow: 2px 3px 4px #000000; */
  display: none;
  /* text-transform: uppercase; */
}

.skill-icon:hover + .skill {
  display: inline;
}
/* End Skills section */

/* Music Section */

.music {
  /* background-color: black; */
  background-color: #160258;
  height: 30vh;
  transition: transform .5s ease;
}

.music:hover {
  transform: scale(1.05, 1.05);
}
.tracks-container {
  margin-left: 8%;
  margin-right: 8%;

  /* margin-top: 2%; */
}
.player-container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  transition: transform .5s ease;
}

.player-container:hover {
  transform: scale(1.05, 1.05);
}

.player {
  max-width: 100%;
  width: 30%;
}
/* End Music Section  */

/* Footer section  */
.footer {
  min-height: 20vh;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
}

.footer .footer-contact-info {
  padding: 20px;
}

.footer .footer-contact-info .footer-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.footer .footer-contact-info .footer-contact-access {
  font-size: 1.4rem;
  padding-top: 10px;
  letter-spacing: .2rem;
margin-bottom: -0.1rem;
}
.footer .social-icons a {
  color: white;
  font-size: 3rem;
  margin: 0.7rem;
  display: inline-block;
}
/* End Footer section  */